fastapi
uvicorn[standard]
psycopg2-binary
alembic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
email-validator
python-multipart
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
asyncpg
SQLAlchemy[asyncio]